body{
	background-color:#3CF;
	background-image:url(../img/502019185_univ_lsr_xl.jpg);
	-webkit-background-attachment:local;
}
p{
font-family:"Comic Sans MS", cursive;
font-size:18px;
}
h1{
color:#C00;    
    
font-family:"Comic Sans MS", cursive;
font-size:36px;
}
h2{
	color:#C00;    
    
font-family:"Comic Sans MS", cursive;
font-size:22px;
}